<mat-card>
    <div class="image-container" mat-card-image>
        <img class="left-image" [src]="getLeftImage()">
        <img class="right-image" [src]="getRightImage()">
    </div>
    <mat-card-content>
        <div class="buttons">
            <button mat-raised-button
                [color]="firstColor | async"
                (click)="handleClick(first)">
                Vote {{first}}
            </button>
            <button mat-raised-button
                [color]="secondColor | async"
                (click)="handleClick(second)">
                Vote {{second}}
            </button>
        </div>
        <div class="progress-bar-outer">
            <div class="progress-bar-inner"
                [style.width]="percent"
                [class.right-border]="rightBorder">
                {{percent}}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="fb-share-button"
            data-href="https://elkrunfundraiser.skcfc.org/knockout"
            data-layout="button"
            data-size="large"><a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Felkrunfundraiser.skcfc.org%2Fknockout&src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Share</a></div>

        <a class="donate"
            mat-raised-button
            color="primary"
            href="https://secure.givelively.org/donate/south-king-county-food-coalition/elk-run-farm-virtual-fundraiser">
            Donate
        </a>
    </mat-card-actions>
</mat-card>