<mat-card>
    <!-- TODO(agale): create different images for each pair. -->
    <img mat-card-image src="assets/broccolicarrot.png">
    <mat-card-content>
        <div class="buttons">
            <button mat-raised-button (click)="handleClick(first)">
                Vote {{first}}
            </button>
            <button mat-raised-button (click)="handleClick(second)">
                Vote {{second}}
            </button>
        </div>
        <div class="progress-bar-outer">
            <div class="progress-bar-inner"
            [style.width]="percent"
            [class.right-border]="rightBorder">
                {{percent}}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Share on Facebook</button>
    </mat-card-actions>
</mat-card>