<div class="intro">
    <div>
        <p>Everybody deserves to taste a fresh, ripe, local tomato. At Elk Run
            Farm, we teach people to grow healthy, natural food for local food
            banks. That’s how we turn cycles of hunger into profound local
            empowerment. This spring, we’re live-streaming events that connect
            you
            with our healthy farm community. Watch our weekly on-farm videos to
            learn how we’ve transformed an old golf course into a fertile farm
            producing healthy food for food banks.
        </p>
        <p>
            Join us every Wednesday at 1:00 pm from May 13th through June 3rd.
            Each
            week, staff and volunteers will demonstrate one of the important
            stages
            of growing food for our community. </p>

        <p>Visit out <a
                href="https://www.facebook.com/elkrunfoodbankfarm/live_videos/">Facebook
                page</a> for more details.</p>
    </div>
    <!-- Begin Give Lively Fundraising Widget -->

    <div id="give-lively-widget"
        class="gl-simple-donation-widget"></div>
    <!-- End Give Lively Fundraising Widget -->
</div>