<div class="header">
    <img src="assets/elkrun-rgb.jpg"
        alt="Elk Run Farm"
        width="300px">
    <h2>2020 Fundraiser</h2>
</div>

<div class="nav-bar">
    <a href="https://elkrunfarm.wordpress.com/">Home</a>
    /
    <a routerLink="/prelims">Prelims</a>
    /
    <a routerLink="/knockout">Knockout</a>
    /
    <a routerLink="/livestream">Livestream</a>
</div>

<br>

<div class="intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    <br>
    <!-- Begin Give Lively Fundraising Widget -->
    
    <div id="give-lively-widget"
        class="gl-simple-donation-widget"></div>
    <!-- End Give Lively Fundraising Widget -->
</div>

<br>

<router-outlet></router-outlet>