.header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

.intro p {
    padding: 16px;
}

.nav-bar {
    text-align: center;
}

mat-divider {
    width: 300px;
}
