<div class="intro">
    <p>Help us narrow the field for our Elk Run Farm Vegetable Corn-ament! Vote
        for all your favorite vegetables until May 20th, and then the real
        competition begins. Check back every week to vote in our head to head
        battles, as you decide which vegetable wins our 2020 Corn-ament!</p>
    <br>
    <!-- Begin Give Lively Fundraising Widget -->

    <div id="give-lively-widget"
        class="gl-simple-donation-widget"></div>
    <!-- End Give Lively Fundraising Widget -->
</div>

<div class="intro">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfuCfhUZ4WcIpdjfeNqqezJ3uTS4ncyL2gCSp_2RyUtQqqawg/viewform?embedded=true"
        onload="this.width=Math.min(screen.width-24, 600)"
        height="400"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Loading…</iframe>
</div>