.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 600px;
    margin: auto;
    padding: 16px;
}

@media (max-width: 650px) {
    .intro {
        flex-direction: column;
    }
}

.intro p {
    padding: 16px;
}