<div class="intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=5B5C3CU3MQ7Z6" target="_blank" rel="nofollow noopener noreferrer"><img src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" alt=""></a>
    <!-- TODO(agale): Update this image. -->
    <img src="assets/round1.jpg">
    <br>
    <br>

    <h2>Vote for your favorite vegetables:</h2>
</div>

<div class="cards">
    <app-card *ngFor="let card of cards"
    [first]="card.first"
    [second]="card.second"></app-card>
</div>